torch-ema
ninja
trimesh
opencv-python
tensorboardX
numpy==1.24.4
pandas==2.0.3
tqdm
matplotlib
PyMCubes
rich
dearpygui
packaging
scipy
scikit-learn
transformers==4.36.0
face_alignment==1.4.1
python_speech_features
numba
resampy
pyaudio
soundfile
einops
configargparse

lpips
imageio-ffmpeg
onnxruntime-gpu
facenet_pytorch
librosa
fvcore
iopath
